@charset "UTF-8";


/* notice */


#left_box{
	background:#fff;
	width:730px;
	margin-right:10px;
	padding:20px;
}

.title{
	font-size:20px;
	color:#3b64af;
	margin-bottom:20px;
	float:left;
}
.board_table {
	font-size:14px;
}
.board_table tr td a{
	color:#000;
	text-decoration: none;
	
}
.board_table th{
	background:#f5f5f5;
	text-align:center;
}
#notice_table td:nth-child(1){
	width:80px;
	text-align:center;
}
#notice_table td:nth-child(2){
	width:450px;
}
#notice_table td:nth-child(3){
	width:150px;
	text-align:center;
}
#notice_table td:nth-child(4){
	width:120px;
	text-align:center;
}
#notice_table tr:last-child{
	border-bottom:solid 1px #dee2e6;
}
.notice_select{
	width:80px;
	float:left;
	margin-right:5px;
	font-size:14px;
}
#board_searchbox{
	float:right;
	overflow:hidden;
}

.notice_search{
	width:130px;
	float:left;
	margin-right:5px;	
}

.pagination li a{
	color:#3b64af;
}


/* notice_detail */
#notice_title{
	clear:both;
	width:100%;
	height:50px;
	line-height:50px;
	overflow:hidden;
	border-top:solid 1px #dee2e6;
	border-bottom:solid 1px #dee2e6;
	padding:0px 10px;
}
.button_box{
	float:right;
}
.detail_title{
	width:100%;
}
#notice_title > div:first-child{
	float:left;
	
}
#notice_title > div:last-child{
	float:right;	
}

#notice_cont{
	padding:20px;
	border-bottom:solid 1px #dee2e6;
	line-height:26px;
	font-size:14px;
	
}

/* qna */

#left_box{
	background:#fff;
	width:730px;
	margin-right:10px;
	padding:20px;
}

.title{
	font-size:20px;
	color:#3b64af;
	margin-bottom:20px;
	float:left;
}

#qna_table th{
	background:#f5f5f5;
	text-align:center;
}
#qna_table td:nth-child(1){
	width:60px;
	text-align:center;
}
#qna_table td:nth-child(2){
	width:400px;
}
#qna_table td:nth-child(3){
	width:120px;
	text-align:center;
}
#qna_table td:nth-child(4){
	width:90px;
	text-align:center;
}
#qna_table td:nth-child(5){
	width:110px;
	text-align:center;
}
#qna_table tr:last-child{
	border-bottom:solid 1px #dee2e6;
}
.notice_select{
	width:100px;
	float:left;
	margin-right:5px;
	font-size:14px;
}
#board_searchbox{
	float:right;
	overflow:hidden;
}
.qna_true{
	background:#17a2b8;
	padding:3px;
	font-size:12px;
	color:#fff;
}
.qna_false{
	background:#dc3545;
	padding:3px;
	font-size:12px;
	color:#fff;
}
.notice_search{
	width:130px;
	float:left;		
	margin-right:5px;
}
#notice_page{
	float:left;
}
.pagination > li > a{
	color:#3b64af;
}


/* notice_detail */
#qna_title{
	clear:both;
	width:100%;
	height:50px;
	line-height:50px;
	overflow:hidden;
	border-top:solid 1px #dee2e6;
	border-bottom:solid 1px #dee2e6;
	padding:0px 10px;
}
.button_box{
	float:right;
}
.detail_title{
	width:100%;
}
#qna_title > div:first-child{
	float:left;
	
}
#qna_title > div:last-child{
	float:right;	
}

#qna_q, #qna_a{
	padding:20px;
	border-bottom:solid 1px #dee2e6;
	line-height:26px;
	font-size:14px;	
	position: relative;
}